<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#A9C7BF">
	<title>Address Registry</title>
	<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/address-form/normalize.css">
	<link rel="stylesheet" href="/css/address-form/skeleton.css">
	<script src="/js/address-form/modernizr.custom.js"></script>
	<script src="/js/jquery-1.11.1.min.js"></script>
	<script>
		$(function() {
			$('form').on('submit', function() {
				$(this).find('.button-primary').attr('disabled', true);
				$.ajax({
							type: 'POST',
							url: '/address-post',
							data: $(this).serialize(),
							dataType: 'json',
							encode: true
						})
						.done(function (data) {
							if (!data.success) {
								$('#ajax-response').addClass('has-error').html('Oh no errors ]:');
							} else {
								$(this).find('.button-primary').attr('disabled', false);
								$('#ajax-response').addClass('has-success').html('Thank you!');
							}
						});
				event.preventDefault();
			})
		})
	</script>
</head>
<body>
<div class="container">
	<h1>Randell Wedding</h1>
	<h3>Address Registry</h3>
	<section>
		<!--<form id="theForm" class="simform" autocomplete="off">
			<div class="simform-inner">
				<ol class="questions">
					<li>
						<span><label for="q1">Name(s)</label></span>
						<input id="q1" name="q1" type="text" required>
					</li>
					<li>
						<span><label for="q2">Street Address</label></span>
						<input id="q2" name="q2" type="text" required>
					</li>
					<li>
						<span><label for="q3">Apartment #</label></span>
						<input id="q3" name="q3" type="text">
					</li>
					<li>
						<span><label for="q4">City</label></span>
						<input id="q4" name="q4" type="text" required>
					</li>
					<li>
						<span><label for="q5">State</label></span>
						<input id="q5" name="q5" type="text" value="NY" required>
					</li>
					<li>
						<span><label for="q6">Zip</label></span>
						<input id="q6" name="q6" type="text" required>
					</li>
					<li>
						<span><label for="q7">Phone</label></span>
						<input id="q7" name="q7" type="text">
					</li>
				</ol>
				<button class="submit" type="submit">Send answers</button>
				<div class="controls">
					<button class="next"></button>
					<div class="progress"></div>
							<span class="number">
								<span class="number-current"></span>
								<span class="number-total"></span>
							</span>
					<span class="error-message"></span>
				</div>
			</div>
		</form-->
		<form>
			<div class="row">
				<label for="name">Name</label>
				<input class="u-full-width" type="text" name="name" id="name">
			</div>
			<div class="row">
				<label for="addr1">Street Address</label>
				<input class="u-full-width" type="text" name="addr1" id="addr1">
			</div>
			<div class="row">
				<label for="addr2">Apt #</label>
				<input class="u-full-width" type="text" name="addr2" id="addr2">
			</div>
			<div class="row">
				<label for="city">City</label>
				<input class="u-full-width" type="text" name="city" id="city">
			</div>
			<div class="row">
				<label for="state">State</label>
				<input class="u-full-width" type="text" name="state" id="state" value="NY">
			</div>
			<div class="row">
				<label for="zip">Zip</label>
				<input class="u-full-width" type="text" name="zip" id="zip">
			</div>
			<div class="row">
				<label for="phone">Phone</label>
				<input class="u-full-width" type="text" name="phone" id="phone">
			</div>
			<input class="button-primary" type="submit" value="Submit">
			<div id="ajax-response"></div>
		</form>
	</section>
</div>
</body>
</html>